<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="UTF-8" />
    <title th:text="#{editTitle}"></title>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-markdown.min.css}" />
    <script th:src="@{/js/bootstrap-markdown.min.js}"></script>
    <script th:src="@{/js/marked.js}"></script>
</head>
<body>

<form>
    <label for="editor">问题内容</label><textarea id='editor' data-provide="markdown" style='color:#000'></textarea>
</form>

</body>
</html>