<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <meta name="description" content="mageek,test" />
    <meta name="author" content="mageek" />

    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- Custom styles for this template -->
    <link th:href="@{/css/carousel.css}" rel="stylesheet" />

    <title th:text="#{indexTitle}">小测试平台</title>

    <style type="text/css">
        /*鼠标滑过下拉*/
        .nav > li:hover .dropdown-menu {display: block;}
    </style>

    <script language="JavaScript">

        $(document).ready(function(){//高亮当前菜单
            var curPath = window.location.pathname;
            var pathArr = curPath.split("/");
//            console.log(pathArr);
            var main = pathArr[1]?pathArr[1]:'index';
//            var sub = pathArr[2]?pathArr[2]:'index';
            $('#'+main).addClass("active");//一级菜单
//            $('#'+main+sub).addClass("active");//二级菜单
            //$('#'+main).addClass("show");//显示
            // $('#'+main+sub).addClass("hidden");//影藏
        });

        function showAns(obj) {
            var id = $(obj).attr('name');
            if ($('#answer'+id).val() !== ''){//本题目已经回答了才可以查看
                $('#ans'+id).removeClass("hidden");
            }else{
                alert("请先回答问题再查看答案");
            }
        }
    </script>


</head>
<body>
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top ">
            <div class="container" >
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}" th:text="#{indexTitle}">小测试平台</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li id="index"><a th:href="@{/}" th:text="#{indexText}">首页</a></li>
                        <li id="me">
                            <a th:href="@{/me}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:utext="#{meText}">个人中心<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/me/info}" th:text="#{meInfo}">个人信息</a></li>
                                <li><a th:href="@{/me/interviewtags}" th:text="#{meInterview}">笔试标签</a></li>
                                <li><a th:href="@{/me/iq}" th:text="#{meIQ}">智力测试</a></li>
                                <li><a th:href="@{/me/turn}" th:text="#{meTurn}">脑筋急转弯</a></li>
                            </ul>
                        </li>
                        <li id="author"><a href="http://mageek.cn" target="_blank" th:text="#{authorText}">关于作者</a></li>
                        <li id="lang" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:utext="#{langText}">语言(Lang)<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{~/.(lang=en)}" th:text="#{enText}">英语(en)</a></li>
                                <li><a th:href="@{~/.(lang=zh)}" th:text="#{zhText}">中文(zh)</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<!-- Carousel================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="" th:src="@{/images/interview.jpg}" alt="First slide" />
            <div class="container">
                <div class="carousel-caption text-primary">
                    <h1>要找工作，无处练题？</h1>
                    <p>搜集了大量的校招，社招真题，包括笔试、面试；同时还根据经典书籍中的内容进行自主命题。类型包含了选择、简答等，为您进入职场大门铺下一块坚实的垫脚石</p>
                    <p><a class="btn btn-lg btn-primary" th:href="@{/#interview}" role="button">看看有没有技术含量</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide" src="" th:src="@{/images/iq.jpg}" alt="Second slide" />
            <div class="container">
                <div class="carousel-caption text-primary">
                    <h1>智商是多少，越测就越高！</h1>
                    <p>智商有先天因素，但是后天的学习也是可以增强，所以我们要多用脑、多思考、多测试，测着测着就慢慢变高了</p>
                    <p><a class="btn btn-lg btn-primary" th:href="@{/#iq}" role="button">看看我的智商有多高</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="" th:src="@{/images/turn.jpg}" alt="Third slide" />
            <div class="container">
                <div class="carousel-caption text-primary">
                    <h1>脑子转的快不快？</h1>
                    <p>脑筋急转弯可以改变我们的日常思维方式，让我们从多角度思考，考虑问题更全面，更重要的是想出来答案的那一瞬间，我们获得的乐趣是无穷的</p>
                    <p><a class="btn btn-lg btn-primary" th:href="@{/#turn}" role="button">老司机开车了，请转弯</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- /.carousel -->



<!--/*@thymesVar id="paper" type="cn.mageek.quiz.entity.Paper"*/-->
<div class="container" th:object="${paper}">

    <div class="alert alert-info" th:if="${paper.getStatus()==-1}">
        <a href="#" class="close" data-dismiss="alert"> &times; </a>
        试卷：<span th:text="${paper.getTitle()}"></span>。开始答题吧，抓紧时间哟，我们会记录您答题所花费的时间
    </div>

    <div class="alert alert-success" th:if="${paper.getStatus()==1}">
        <a href="#" class="close" data-dismiss="alert"> &times; </a>
        试卷：<span th:text="${paper.getTitle()}"></span>，答题结束。
        <span th:if="${paper.getQuestions().get(0).getTag().get(0)!='脑筋急转弯' and paper.getQuestions().get(0).getTag().get(0)!='智力测试' }" th:text="${'得分：'+paper.getPoint()}+'。'">
        </span>
        花费时间：<span th:text="${paper.getSeconds()}"></span>秒。
    </div>

    <div class="alert alert-success" th:if="${paper.getStatus()==0}">
        <a href="#" class="close" data-dismiss="alert"> &times; </a>
        试卷：<span th:text="${paper.getTitle()}"></span>，在10分钟内创建过，请做完后再重新创建试卷。
    </div>



    <form method="post" id="answerForm" th:action="@{/me/getresult}">

        <input type="hidden" name="paperId" th:value="${paper.getId()}"/>


        <!--进度条-->
        <div class="progress progress-striped active" th:if="${paper.getStatus() !=1}">
            <div id="answer-progress" class="progress-bar progress-bar-success" role="progressbar"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: 0%;">
                <span class="" id="answer-progress-text">当前进度：0%</span>
            </div>
        </div>

        <hr>
        <p class="active-tab"><strong>当前题目</strong>：<span th:text="${paper.getQuestions().get(0).getTitle()}"></span></p>
        <p class="previous-tab"><strong>上一道题目</strong>：<span>无</span></p>

        <script th:inline="javascript">
            var indexQuestion = 1;
            //            var numQuestion = [[${paper.getQuestions().size()}]]-1;//不能直接这样写,会搞成字面量
            var numQuestion = [[${paper.getQuestions().size()}]];
            //            numQuestion -= 1;

            var form = document.getElementById('answerForm');

            $(document).ready(function(){//高亮当前菜单
                if(numQuestion ==1){//防止只有1道题
                    $("#answerdone").removeClass("hidden");
                    $("#answering").addClass("hidden");
                }
            });

            $(function(){
                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    // 获取已激活的标签页的名称
                    var activeTab = $(e.target).text();
                    // 获取前一个激活的标签页的名称
                    var previousTab = $(e.relatedTarget).text();
                    //设置文字
                    $(".active-tab span").html(activeTab);
                    $(".previous-tab span").html(previousTab);
                    //设置进度条
//                    var theId = $(e.target).getAttribute("id");//没有这个函数
//                    var theId = $(e.target).id;//为空
                    li =  $("ul#qtabs li.active");//这是当前的激活的tab,作为全局变量，便于直接在浏览器调试，找这个序号
                    var theId = li.index()+1;
//                    console.log(li);
//                    console.log(theId);
                    indexQuestion = theId;
                    var progress = (100*indexQuestion/numQuestion).toFixed(2)+'%';
                    $("#answer-progress").css("width",progress);
                    $("#answer-progress-text").html("当前进度："+ progress);

                    if (progress==="100.00%"){//最后一题
                        $("#answerdone").removeClass("hidden");
                        $("#answering").addClass("hidden");
                    }else{
                        $("#answering").removeClass("hidden");
                        $("#answerdone").addClass("hidden");
                    }
                });
                //添加事件监听必须放在执行流中，直接放在script中是不会执行的
                $('#btnNext').click(function(){
                    $('.nav-tabs > .active').next('li').find('a').trigger('click');
                });

                $('#btnPrev').click(function(){
                    $('.nav-tabs > .active').prev('li').find('a').trigger('click');
                });
                //加入拦截表单提交事件
                try {
                    form.addEventListener("submit", submitFn, false);
                } catch(e) {
                    form.attachEvent("onsubmit", submitFn); //IE8
                }

            });
            //拦截表单提交
            function submitFn(event) {
                event.preventDefault();

                //首先检查是否填完了
                var data = $('form').serializeArray();
                for (var j= 1;j<=numQuestion;j++){
                    if(data[j].value===''){
                        alert("问题尚未完成，第"+(j)+'个')
                        return false;
                    }
                }
                //序列化答案 提交给后台
                var finalData = {};
                for (var i= 0;i<data.length;i++){
                    if (finalData[data[i].name] !== undefined){//拼接checkbox
                        finalData[data[i].name] += ('|'+data[i].value);
                    }else{
                        finalData[data[i].name] = (data[i].value);
                    }
                }
                result = JSON.stringify(finalData);

                var node = document.createElement("input");
                node.setAttribute("type","hidden");
                node.name = "result";
                node.value = result;
                form.appendChild(node.cloneNode());//把处理过的结果加入表单
                form.submit();
                return false;
            }

        </script>

        <!--tab组件切换题目标题-->
        <ul id="qtabs" class="nav nav-tabs">

            <li th:each="ques,qstat:${paper.getQuestions()}" th:id="${'qt'+qstat.index}" th:class="${qstat.index}==0? 'active':''">
                <!--长度大于6 需要截取-->
                <a th:href="${'#ques'+qstat.index}" data-toggle="tab" th:if="${#strings
                .length(ques.getTitle())>4}" th:text="${#strings.substring(ques.getTitle(),0,4)}">iOS</a>

                <a th:href="${'#ques'+qstat.index}" data-toggle="tab" th:if="${#strings
                .length(ques.getTitle())<5}" th:text="${ques.getTitle()}">iOS</a>
            </li>

        </ul>

        <!--tab组件切换题目内容-->
        <div id="qtabc" class="tab-content">

            <div th:each="ques,qstat:${paper.getQuestions()}" th:class="${qstat.index}==0? 'tab-pane fade in active':'tab-pane fade'" th:id="${'ques'+qstat.index}">
                <h3 th:text="${ques.getTitle()}" class="text-center text-info"></h3>
                <!--选择题-->
                <ol class="list-group list-cust" th:if="${ques.getOption().size() gt 0}" >
                    <li class="list-group-item" th:each="option,stat:${ques.getOption()}">
                        <p th:text="${stat.index+'：'+option}">玻尔兹曼</p>
                        <label>
                            选择：<input type="checkbox" th:name="${'answer'+qstat.index}" th:value="${stat.index}"/>
                        </label>
                    </li>
                </ol>
                <!--简答题-->
                <div th:if="${ques.getOption().size() lt 1}">
                    <hr>
                    <hr>
                    <label>
                        请回答：<input type="text" th:id="${'answer'+qstat.index}" th:name="${'answer'+qstat.index}" />
                    </label>
                </div>

                <!--脑筋急转弯可以做一道就查看答案-->
                <div class="text-success" th:if="${ paper.getStatus() !=1 and ques.getTag().get(0)=='脑筋急转弯'}">
                    <button type="button" class="btn btn-success" th:name="${qstat.index}" onclick="showAns(this)">查看答案</button>
                    <span class="hidden" th:id="${'ans'+qstat.index}" th:text="${'答案：'+ques.getAnswer()}"></span>
                </div>

                <!--答题已完成可以显示答案,分别是回答正确和错误-->
                <div th:if="${paper.getStatus()==1 and ques.getAnswer()== paper.getAnswers().get(qstat.index)}" class="alert alert-success">
                    正确答案：<span th:text="${ques.getAnswer()}"></span>
                    您的答案：<span th:text="${paper.getAnswers().get(qstat.index)}"></span>
                </div>
                <div th:if="${paper.getStatus()==1 and ques.getAnswer()!= paper.getAnswers().get(qstat.index)}" class="alert alert-danger">
                    正确答案：<span th:text="${ques.getAnswer()}"></span>
                    您的答案：<span th:text="${paper.getAnswers().get(qstat.index)}"></span>
                </div>

            </div>

        </div>


        <hr/>
        <div class="tab-pane center-block row" id="answering">
            <button id="btnPrev" class="btn btn-primary btnPrevious pull-left" type="button">上一道</button>
            <button id="btnNext" class="btn btn-primary btnNext pull-right" type="button">下一道</button>
        </div>
        <div id="answerdone" class="hidden" th:if="${paper.getStatus()!=1}">
            <input  type="submit" class="btn btn-success center-block" value="交卷"/>
        </div>

    </form>

    <hr class="featurette-divider" />
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Mageek.cn </p>
    </footer>

</div>

</body>
</html>